{% extends "index/base.html" %}
{% load static %}
{% block main %}
<body>

<a class="scroll-top-arrow" href="javascript:void(0);"><i class="fa fa-angle-up"></i></a>

{% include "index/navigator.html" %}


<!-- START HEADING SECTION -->
<div class="about_content">

    <div class="container">
        <div class="row">
            <div class="col-12  text-center wow slideInUp" data-wow-duration="2s">
                <h1 class="heading">Your Section Here</h1>
                <p class="para_text">Lorem ipsum dolor sit amet, Duis suscipit vitae dui sed suscipit. Vestibulum auctor nunc vitae diam eleifend, in maximus metus sollicitudin. Quisque vitae sodales lectus consectetur adipisicing elit. A dolores explicabo laudantium, omnis provident quam reiciendis voluptatum?</p>
            </div>
        </div>
    </div>

    <!--content-->
<div class="standalone-area">
    {% for cartitem in cartitems %}
    <div class="container">
        
        <div class="row standalone-row align-items-center">
            <div class="col-lg-6">
                <div class="blog-image wow hover-effect fadeInLeft">
                    <img src="{% get_media_prefix %}{{cartitem.product.image}}" alt="image">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-inline-block">
                    <h2 class="gradient-text1 pb-3">{{cartitem.product.name}}</h2>
                    <p>{{cartitem.product.body}}</p>
                </div>
            </div>
        </div>

    </div>
    {% endfor %}
</div>

</div>

<!-- END HEADING SECTION -->


{% include "index/footer.html" %}

{% include "index/header-top.html" %}

{% include "index/javaScript.html" %}

</body>
{% endblock main %}