<!--START BANNER SECTION-->
<div class="banner-section parallax-slide">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 offset-lg-5 text-center">
                <div class="banner-content-wrapper">
                <span>TRENDING PRODUCT OF THE WEEK</span>
                <h1>Shirts Collections</h1>
                <p>Aenean imperdiet. Etiam ultricies nisi vel augue men tuhi spectrum alle me</p>
                 <button type="button" class="btn black-btn-with-border">SHOP NOW</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END BANNER SECTION-->
