{% load static %}
<!--START SEARCH AREA-->
<div class="search-box-overlay">
    <a><i class="fas fa-times cross-sign" id="close-window"></i></a>

    <div class="container">
        <div class="row">
            <div class="col-12 search-col">
                <form action="{% url 'store' %}">
                <div class="input-group search-box-form">
                    <input type="text" class="form-control" name="q" placeholder="Search Here" aria-label="Search Here">
                    <div class="input-group-prepend">
                        <button class="input-group-text" type="submit" id="basic-addon1"><i class="fas fa-search"></i></button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>