{% load static %}
<!-- JavaScript -->
<script src="{% static 'vendor/js/bundle.min.js' %}"></script>
<!-- Plugin Js -->
<script src="{% static 'vendor/js/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'vendor/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'vendor/js/swiper.min.js' %}"></script>
<script src="{% static 'vendor/js/jquery.cubeportfolio.min.js' %}"></script>
<script src="{% static 'vendor/js/wow.min.js' %}"></script>
<script src="{% static 'vendor/js/bootstrap-input-spinner.js' %}"></script>
<script src="{% static 'vendor/js/parallaxie.min.js' %}"></script>
<script src="{% static 'vendor/js/stickyfill.min.js' %}"></script>
<script src="shop/js/nouislider.min.js' %}"></script>

<script src="{% static 'vendor/js/jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static 'vendor/js/jquery.themepunch.revolution.min.js' %}"></script>
<!-- SLIDER REVOLUTION EXTENSIONS -->
<script src="{% static 'vendor/js/extensions/revolution.extension.actions.min.js' %}"></script>
<script src="{% static 'vendor/js/extensions/revolution.extension.carousel.min.js' %}"></script>
<script src="{% static 'vendor/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
<script src="{% static 'vendor/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
<script src="{% static 'vendor/js/extensions/revolution.extension.migration.min.js' %}"></script>
<script src="{% static 'vendor/js/extensions/revolution.extension.navigation.min.js' %}"></script>
<script src="{% static 'vendor/js/extensions/revolution.extension.parallax.min.js' %}"></script>
<script src="{% static 'vendor/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
<script src="{% static 'vendor/js/extensions/revolution.extension.video.min.js' %}"></script>

<!-- Custom Script -->
<script src="{% static 'shop/js/script.js' %}"></script>