{% load static %}
<!--START LATEST ARRIVALS-->
<div class="lastest_arrivals">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-4">
                <h1>Latest Arrivals</h1>
            </div>

            <div class="col-12">
                <div class="lastest_featured_products owl-carousel owl-theme">
                    {% for product in products %}
                        <div class="lastest_arrival_items item">
                            <a href="" class="lastest-addto-cart"><i class="fa fa-shopping-cart"></i></a>
                            <div class="card">
                                <span class="product-type">NEW</span>
                                <div class="image-holder">
                                    <a href="{% url 'detail-view' slug=product.slug %}"><img src="{% get_media_prefix %}{{product.image}}" class="card-img-top" alt="Lastest Arrivals 1"></a>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12 text-center">
                                            <a href="{% url 'detail-view' slug=product.slug %}"><h5 class="card-title">{{product.name}}</h5></a>
                                        </div>
                                        <div class="col-12 text-center">
                                            <p class="card-text">{{product.price}} so'm</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</div>
<!--END LATEST ARRIVALS-->